# Virtual environment
venv

# TMP folder for logs
tmp

# Python pyc files
*.py[cod]

# Tmp system files
*.py~

# IDEA or Pyhcarm projects
.idea

# sqlite db file
db1

# Mac OS specific files
.DS_STORE
