.main{
    width: 80%;
    margin: auto;
    position:relative;
}

.item{
    width: 90%;
    border: solid 1px black;

}

.fixed_to_right{
    position: absolute;
    right: 0;
}

.item-done{
    background: #00FF00
}

ul{
    list-style-type: none;
}