{% extends "bootstrap/base.html" %}

<html>
    <head>
        {% block head %}
        {{ super() }}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
            {% block scripts %}
                {{ super() }}
                {{ moment.include_moment() }}
            {% endblock %}
        {% endblock head %}
    </head>

    <body>
    {% block body %}
    {% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                                      data-target="#bs-examnavbar-collapse-1">
                </button>
                <a class="navbar-brand" href="/">toDO</a>
            </div>
            {% block nbright %}
                {% if not g.user.is_authenticated() %}
                    <ul class="nav navbar-nav navbar-right">
                        <a class="navbar-brand" href="/login">login</a>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ g.user.username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{{ url_for('main.settings') }}">Settings</a></li>
                                <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            {% endblock nbright %}
       </div>
    </nav>
    {% endblock navbar %}
        {% block flashes %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endblock flashes %}
    {% endblock body %}
    </body>
</html>