{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %} 
    {{ super() }}
{% endblock head %}

{% block title %}personal{% endblock %}

{% block body %}
    {{ super() }}

    {% macro render_task(task) %}
        <li class='item'>
            {{ task.name }} --- {{ task.state }}
        </li>
    {% endmacro %}

    {% macro render_task_list(tl) %}
        <li class='item'>
            <a href="{{ url_for('main.user_lists', id=tl.id) }}">{{ tl.name }}</a>
        </li>
    {% endmacro %}

    {% if tasks %}
    <div class="main">
        <h3>'{{ task_list.name }}' tasks:</h3>
        <ul>
            {% for t in tasks %}
                {{ render_task(t) }}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if task_lists %}
    <div class="main">
        <h3>{{ user.username }}'s task lists:</h3>
        <ul>
            {% for t in task_lists %}
                {{ render_task_list(t) }}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if tform %}
        <div class="container main">
            {{ wtf.quick_form(tform) }}
        </div>
    {% endif %}    

    {% if tlform %}
        <div class="container main">
            {{ wtf.quick_form(tlform) }}
        </div>
    {% endif %}    

{% endblock body %}